.password-input-container {
  margin-bottom: 0;
}

.password-input-wrapper {
  position: relative;
}

.password-input-field {
  padding-right: 2.7rem !important;
}

.password-visibility-button {
  position: absolute;
  top: 50%;
  right: 0.35rem;
  transform: translateY(-50%);
}
