.password-input-container {
  margin-bottom: 1rem;
  text-align: left;
}

.password-input-label {
  margin-bottom: 0.5rem;
  display: block;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-field {
  padding: 0.8rem;
  padding-right: 40px; /* 为图标留出空间 */
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-visibility-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px; /* 增加点击区域 */
  border-radius: 50%; /* 圆形背景 */
}

s
.password-visibility-button:focus {
  outline: none;
}

.password-visibility-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 110, 255, 0.5); 
}